<article class="post">
    <% if (page.categories){%>
    <% page.categories.each(function (cat) { %>
    <h4 class="post-cat">
        <a href="<%- url_for(cat.path) %>">
            <%= cat.name %>
        </a>
    </h4>
    <%  }) %>
    <% } %>
    <h2 class="post-title">
        <%= page.title %>
    </h2>
    <ul class="post-date">
        <li>
            <%- date(page.date, "YYYY-MM-DD") %>
        </li>
        <li>
            <%= config.author %>
        </li>
        <% const translationEntries = translation_entries(page); %>
        <% if (translationEntries.length > 1) { %>
        <li class="post-languages">
            <span class="post-languages-label">Lang</span>
            <% translationEntries.forEach(function (entry, idx) { %>
                <% if (entry.isCurrent) { %>
                    <span class="translation-lang is-current" lang="<%= entry.lang %>"><%= entry.lang %></span>
                <% } else { %>
                    <a class="translation-lang" href="<%- entry.path %>" hreflang="<%= entry.lang %>" lang="<%= entry.lang %>"><%= entry.lang %></a>
                <% } %>
                <% if (idx < translationEntries.length - 1) { %>,<% } %>
            <% }) %>
            <span class="post-languages-note">
                (original ZH, translation powered by AI)
            </span>
        </li>
        <% } %>
    </ul>
    <div class="post-content">
        <%- page.content %>
    </div>
    <% if (page.tags){%>

    <a href="/books/beyond-just-coding-book.html" onclick="gtag('event', 'click_book_banner', {'link_url': this.href});">
        <picture>
            <!-- For screens wider than 600px -->
            <source media="(min-width: 600px)" srcset="/img/new-book-banner.png" class="new-book-banner-image">
            
            <!-- Default image for smaller screens -->
            <img src="/img/new-book-banner-small.png" alt="《程式設計原來不只有寫 CODE！》新書橫幅廣告" class="new-book-banner-image">
        </picture>
    </a>

   
    <div class="post-tag">
        tags:&nbsp;
        <% page.tags.forEach(function (tag) { %>
            <a href="<%- url_for_lang(tag.path, page.lang) %>">
                <%= tag.name %>
            </a>,&nbsp;
        <%  }) %>
    </div>
    <% } %>
<script>
    hljs.configure({
        useBR: false
    });
    document.querySelectorAll('.code').forEach((block) => {
        hljs.highlightBlock(block);
    });
    document.querySelectorAll('pre code').forEach((block) => {
        hljs.highlightBlock(block);
    });
</script>

<p class="post-end-line-small">
    如果您覺得這篇文章有幫助，您可以 <a href="/donation/">贊助</a> 這個網站！
    此外也可以去 <a href="/message">全站留言板</a> 來留言喔！
</p>
